*{
	margin:0;
}

body {
  font: 14px "Lato", Helvetica, Arial, sans-serif;
  overflow:hidden;
  background:#333;
}

h1, h2, h3, h4, h5, h6{
	font-family:"Oswald", Impact, Arial, sans-serif;
	font-weight:400;
}

a {
  color: #AADDDD;
  text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

.at-mention{
	font-size:66%;
	position:relative; 
	top:-2px;
	color: #AADDDD;
}

a img{
	border:none;
}

img.avatar{
	border-radius:3px;
	box-shadow:1px 1px 3px rgba(0,0,0,0.5);
}

:focus{
	outline:0;
}

p{
	line-height:1.25em;
	margin:0 0 16px 0;
}

#navbar{
	background:#007A74;
	width:100%;
	z-index:9000;
	color:#fff;
	overflow:hidden;
	padding:0px 16px;
}

#navbar{
	height:48px;
	background:#007A74;
	color:#fff;
	border-bottom:1px solid #005050;
}
#navbar h1{
	margin-top:2px;
}

#main-footer{
	clear:both;
	height:32px;
	padding:0 10px 0 10px;
	font-size:10pt;
	border-top:1px solid #005050;
	position:fixed;
	bottom:0;
}

#main-footer .wrapper{
	margin-top:6px;
}

.wrapper{
	margin:auto;
}

.body{
	height:100vh;
}

/* SIDEBAR */

.sidebar{
	height:100vh;
	background:#555;
	float:left;
	box-shadow:3px 3px 3px rgba(0,0,0,0.6);
	border-right:1px solid #333;
	z-index: 5;
	color:#fff;
	padding:6px;
}

/* COLUMNS */

.columns{
	overflow-x:auto;
	overflow-y:hidden;
	white-space: nowrap;
	height:96vh;
	padding-left:16px;
}

.columns .jspVerticalBar{
	display: none;
}

.col{
	white-space: normal;
	height:96vh;
	display: inline-block;
	background:#333;
	color:#fff;
	padding-top:10px;
	min-width:360px;
	max-width:690px;
	width:48%;
	font-size:12pt;

}

.col .jspVerticalBar{
	display: inline;
}

.col-header{
	padding:0 10px 0 10px;
	margin:auto;
	margin-bottom:-3px;
	background:#444;
	border-radius:12px 12px 0 0;
	width:90%;
}

.col-header h2{
	font-size:28pt;
	text-align:center;
	margin:0;
	text-transform:uppercase;
}

.col .new-post-box{
	background:#888;
	border-radius:5px;
	padding: 10px 14px 10px 14px;
	border-top:2px solid #333;
	margin:0;
}

.col .new-post-form{
	background:#444;
	border:1px solid #aaa;
	border-radius:0 0 8px 8px;
	padding: 10px 2px 10px 2px;
}

.col .new-post-form .placeholder-text{
	text-align:center;
	color:#aaa;
	font-size:90%;
	line-height:2.2em;
}

.col .new-post-options{
	list-style-type: none;
	margin:0;
	margin-bottom:-1px;
	padding:0;
}
.col .new-post-options li{
	display:inline-block;
	padding:6px 14px 6px 14px;
	border-radius:5px 5px 0 0;
	cursor:pointer;
	font-size:80%;
}
.col .new-post-options li:hover{
	background:#444;
}
.col .new-post-options li.active{
	background:#444;
	border:1px solid #aaa;
	border-bottom:1px dotted #aaa;
	cursor:default;
}

.col article{
	margin-top:7px;
	margin-bottom:14px;
	box-shadow:3px 3px 3px rgba(0,0,0,0.6);
}

.post-body{
	padding: 10px 14px 0 14px;
	background:#888;
	border-bottom:1px solid #aaa;
	border-radius:5px 5px 0 0;
}

.post-body header{
	height:48px;
	padding:0;
	margin-bottom:8px;
}

.comments{
	padding: 7px 14px;
	background:#666;
	font-size:90%;
	border-radius: 0 0 5px 5px;
	border-top:2px solid #565656;
}
.comment{
	padding:8px 0px;
}
.hearts{
	border-bottom:1px solid #aaa;
	padding:4px 0 4px 0;
}

/* AVATARS */

.av-text-block{
	position: relative;
	min-height: 52px;
}
.av-text-block div{
	display:inline-block;
	left:54px;
	position:absolute;
}

.avatar{
	display:inline-block;
	position: absolute;
}

.avatar48{
}

/* MEDIA */

@media (min-width:1280px){
	.sidebar{
		width:238px;
	}
}
@media (min-width:1024px) and (max-width:1279px){
	.sidebar{
		width:188px;
	}
}
@media (min-width:768px) and (max-width:1023px){
	.sidebar{
		width:148px;
	}
	.col{
		font-size:10pt;
		min-width:280px;
	}
}